
body{
    display: flex;
    flex-direction: column;
    background: #754B53;
    background: -moz-linear-gradient(45deg, #754B53 0%, #BE62CB 50%, #754B53 100%);
    background: -webkit-linear-gradient(45deg, #754B53 0%, #BE62CB 50%, #754B53 100%);
    background: linear-gradient(45deg, #754B53 0%, #BE62CB 50%, #754B53 100%);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 680px;
}

.pageButton{
    width: 100px;
}

.header{
    text-align: center;
    -webkit-text-stroke: 1px white;
}

#container{
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
}

.pageButton{
    align-self: center;
    margin-bottom: 30px;
    font-size: 15px;
    /* background-color: lightgrey; */
    border-radius: 10px;
}
.row{
    display: flex;
}


.square{
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
}


.hover{
    background-color: grey;
}